<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name=".CheckingPagenewActivity"
            android:exported="true" />
        <activity
            android:name=".ShowbookingActivity"
            android:exported="true" />
        <activity
            android:name=".feedbackActivity"
            android:exported="true" />
        <activity
            android:name=".showfeedActivity"
            android:exported="true" />
        <activity
            android:name=".Cusbooking"
            android:exported="true" />
        <activity
            android:name=".CheckingPageActivity"
            android:exported="true" />
        <activity
            android:name=".DisplayfirstActivity"
            android:exported="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".ViewCardActivity"
            android:exported="true" />
        <activity
            android:name=".AddCardActivity"
            android:exported="true" />
        <activity
            android:name=".selectPayActivity"
            android:exported="true" />
        <activity
            android:name=".UserprofileActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".dashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ViewMovieActivity"
            android:exported="true" />
        <activity
            android:name=".AddmovieActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".BookNow"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>